@charset "UTF-8";
/* CSS Document */
/*
Next Button Is RICO
*/

/* section containing the next button */

#container_buttons {
	margin: 0 auto;
	background: rgba(255,255,255,0.3); /* Convox Orange */
    text-align:right;
	padding: 20px 20px;
	border-radius: 10px;
    cursor: alias;
}
/* the button itself -- I debated a gradient. I think is too busy*/
.is-next-button {
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	margin: 11px; padding:7px;
	border: 1px solid rgba(0,0,0,0.4) ;
	background: rgb(254,191,4);
	/* background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1)));
	background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
	background: linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
*/
}
/* the button on hover -- hover specific gradient swap if used */
.is-next-button:hover {
	background: rgb(254,191,4);
	/* background: -moz-linear-gradient(top,  rgba(254,191,4,1) 0%, rgba(255,214,94,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,191,4,1)), color-stop(100%,rgba(255,214,94,1)));
	background: -webkit-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
	background: linear-gradient(top,  rgba(254,191,4,1) 0%,rgba(255,214,94,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#ffd65e',GradientType=0 );
    */
}




.is-next-button a .link { /* =manually placed= link text for next sectiom */
    padding:15px; float: left;
	border-right: 1px solid rgba(255,255,255,0.70);
    color: rgba(255,255,255, 0.90);
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none; 
    font-weight: 800;
    font-size:20px;
	text-transform: uppercase;
    cursor: alias;
}
.is-next-button .arrow { /* directional arrow for next sectiom */
	padding: 0px 10px; margin:0px;
	float: left;
	color: rgba(255,255,255, 0.90);
	font-weight: 800;
	font-size: 40px;
	text-transform: uppercase;	
	border-left: 1px solid rgba(0,0,0,0.2);
    cursor: alias;
}
.is-next-button a:hover .link { /* For now I'm hovering with Convox Blue */
    color: rgba(4,83,148, 0.7);
    text-decoration: none; 
}

